.menu {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(0%, 0%);
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.menu__nav-menu {
  width: 68%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__close-icon {
  height: 33px;
  width: 33px;
  background-image: url(../../../../../images/close-cross.svg);
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 22.44px;
  top: 22.44px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__close-icon:hover {
  opacity: 0.8;
}

.menu__nav-list {
  margin-top: 159px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu__link {
  text-decoration: none;
  color: black;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 22px;
}

.menu__link_active {
  text-decoration: underline;
}

.menu__link_profile {
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 90px;
  margin: 0;
  width: 109px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
}

.menu__account-logo {
  width: 12px;
  height: 14px;
  background-color: #F9F9f9;
  border-radius: 4px;
  padding: 8px 7px;
  margin-left: 17px;
}


@media screen and (max-width: 670px) {
  .hidden-menu {
    background: unset;
  }

  .menu__nav-menu {
    width: 100%;
  }

  .menu__close-icon {
    right: 13.44px;
    top: 13.44px;
  }

  .menu__nav-list {
    margin-top: 144px;
  }

  .menu__link {
    margin-bottom: 24px;
  }

  .menu__link_profile {
    bottom: 46px;
  }
}